/* MAIN LOGO CONTAINER */
.div-main-logo-container a:link,
.div-main-logo-container a:visited {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.div-main-logo-container a:link h2,
.div-main-logo-container a:visited h2 {
    font-size: 2.4rem;
    font-family: var(--font-heading);
    letter-spacing: 2.4px;
}
