/* MAIN NAV CONTAINER */
.div-main-nav-container {
    padding: 2.4rem 0;
    background-color: transparent;
}

.div-main-nav-container .div-main-edge-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN NAV CONTAINER LINKS LIST */
.main-nav-container-links-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* MAIN NAV CONTAINER LINKS LIST ITEM */
.main-nav-container-links-list-item a:link,
.main-nav-container-links-list-item a:visited {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in-out;
}

.main-nav-container-links-list-item:first-child a:hover,
.main-nav-container-links-list-item:first-child a:active {
    background-color: var(--hover-white-light);
}

.main-nav-container-links-list-item:last-child a:link,
.main-nav-container-links-list-item:last-child a:visited {
    background-color: var(--brand-blue-core);
}

.main-nav-container-links-list-item:last-child a:hover,
.main-nav-container-links-list-item:last-child a:active {
    background-color: var(--brand-blue-hover);
    transform: translateY(-0.2rem);
}
