/* SHOWS VIEW FILTERS CONTAINER */
.div-shows-view-filters-container {
    position: sticky;
    top: 8rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    padding: 2.4rem 0;
    background-color: var(--brand-navy-core);
    border-bottom: 0.2rem solid var(--alpha-blue-dark);
    overflow-x: scroll;
    z-index: 9999;
}

.div-shows-view-filters-container::-webkit-scrollbar {
    display: none;
}

/* SHOWS VIEW FILTERS SEARCH CONTAINER */
.div-shows-view-filters-search-container {
    position: relative;
}

.div-shows-view-filters-search-container input {
    width: 24rem;
    padding: 1.2rem 1.2rem 1.2rem 4.8rem;
    font-size: 1.4rem;
    color: var(--text-secondary);
    background-color: var(--brand-navy-hover);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
    border: unset;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;
}

.div-shows-view-filters-search-container:focus-within input {
    width: 28rem;
    box-shadow: inset 0 0 0 0.12rem var(--brand-blue-core);
}

.div-shows-view-filters-search-container > svg {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    stroke: var(--text-muted);
    transition: stroke 0.2s ease-in-out;
    transform: translateY(-50%);
}

.div-shows-view-filters-search-container:focus-within > svg {
    stroke: var(--brand-blue-core);
}

/* SHOWS VIEW FILTERS PARAMS LISTS CONTAINER */
.div-shows-view-filters-params-lists-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

/* SHOWS VIEW FILTERS PARAMS LIST CONTAINER */
.div-shows-view-filters-params-list-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-left: 2.4rem;
}

.div-shows-view-filters-params-list-container > span {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: var(--text-muted);
}

.div-shows-view-filters-params-list-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--alpha-blue-dark);
}

/* SHOWS VIEW FILTERS PARAMS LIST */
.shows-view-filters-params-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* SHOWS VIEW FILTERS PARAMS LIST ITEM */
.shows-view-filters-params-list-item button {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-secondary);
    background-color: var(--brand-navy-hover);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
    border: unset;
    border-radius: 4.8rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.shows-view-filters-params-list-item button:hover {
    color: var(--text-primary);
    background-color: var(--alpha-blue-medium);
    box-shadow: inset 0 0 0 0.12rem var(--brand-blue-hover);
}

.shows-view-filters-params-list-item button.active {
    color: var(--text-primary);
    background-color: var(--brand-blue-core);
    box-shadow: inset 0 0 0 0.12rem var(--brand-blue-core);
}

/* SHOWS VIEW FILTERS ACTIONS CONTAINER */
.div-shows-view-filters-actions-container {
    position: relative;
    display: flex;
    gap: 1.6rem;
    padding-left: 2.4rem;
}

.div-shows-view-filters-actions-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--alpha-blue-dark);
}

/* SHOWS VIEW FILTERS ACTIONS SELECT CONTAINER */
.div-shows-view-filters-actions-select-container {
    position: relative;
}

.div-shows-view-filters-actions-select-container select {
    appearance: unset;
    width: 16rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    color: var(--text-secondary);
    background-color: var(--brand-navy-hover);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
    border: unset;
    border-radius: 0.8rem;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.div-shows-view-filters-actions-select-container:focus-within select {
    box-shadow: inset 0 0 0 0.12rem var(--brand-blue-core);
}

.div-shows-view-filters-actions-select-container svg {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    stroke: var(--text-muted);
    transition: stroke 0.2s ease-in-out;
    transform: translateY(-50%);
}

.div-shows-view-filters-actions-select-container:focus-within svg {
    stroke: var(--brand-blue-core);
}

/* SHOWS VIEW FILTERS ACTIONS LAYOUT CONTAINER */
.div-shows-view-filters-actions-layout-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.div-shows-view-filters-actions-layout-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--brand-navy-hover);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
    border: unset;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.div-shows-view-filters-actions-layout-container button:hover {
    background-color: var(--alpha-blue-medium);
    box-shadow: inset 0 0 0 0.12rem var(--brand-blue-hover);
}

.div-shows-view-filters-actions-layout-container button.active {
    background-color: var(--brand-blue-core);
}

.div-shows-view-filters-actions-layout-container button svg {
    stroke: var(--text-muted);
    transition: stroke 0.2s ease-in-out;
}

.div-shows-view-filters-actions-layout-container button:hover svg,
.div-shows-view-filters-actions-layout-container button.active svg {
    stroke: var(--text-primary);
}
