/* SECTION SHOWS VIEW LAYOUT CONTAINER */
.section-shows-view-layout-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

/* HEADER SHOWS VIEW LAYOUT CONTAINER */
.header-shows-view-layout-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 2.4rem;
}

/* HEADER SHOWS VIEW LAYOUT FILTERS CONTAINER */
.div-header-shows-view-layout-filters-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.div-header-shows-view-layout-filters-container > span {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: var(--text-muted);
}

.div-header-shows-view-layout-filters-container > button {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-muted);
    background-color: transparent;
    border: unset;
}

/* HEADER SHOWS LAYOUT FILTERS LIST */
.header-shows-view-layout-filters-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* HEADER SHOWS LAYOUT FILTERS LIST ITEM */
.header-shows-view-layout-filters-list-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.8rem 1.6rem;
    background-color: var(--brand-navy-hover);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
    border-radius: 4.8rem;
}

.header-shows-view-layout-filters-list-item span {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-blue-tint);
}

.header-shows-view-layout-filters-list-item button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: unset;
}

.header-shows-view-layout-filters-list-item button svg {
    stroke: var(--text-blue-tint);
}

.header-shows-view-layout-container > p {
    font-size: 1.4rem;
    color: var(--text-muted);
}

.header-shows-view-layout-container > p span {
    font-weight: 700;
}

/* SHOWS VIEW LAYOUT LIST CONTAINER */
.div-shows-view-layout-list-container {
    padding-bottom: 6.4rem;
}

/* SHOWS VIEW GRID LAYOUT LIST */
.shows-view-grid-layout-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM */
.shows-view-grid-layout-list-item {
    border-radius: 1.2rem;
    animation: appear 0.4s ease-in-out both;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

@keyframes appear {
    0% {
        transform: translateY(1.6rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM THUMBNAIL CONTAINER */
.div-shows-view-grid-layout-list-item-thumbnail-container {
    position: relative;
    height: 32rem;
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM THUMBNAIL CONTAINER BADGES LIST */
.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list {
    position: absolute;
    top: 1.6rem;
    left: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    z-index: 3;
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM THUMBNAIL CONTAINER BADGES LIST ITEM */
.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list-item span {
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 0.2rem;
}

.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list-item span.original {
    background-color: var(--brand-blue-core);
}

.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list-item span.new {
    background-color: var(--accent-green-core);
}

.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list-item span.hd {
    background-color: var(--brand-blue-core);
}

.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list-item span.hdr {
    background-color: var(--brand-blue-core);
}

.div-shows-view-grid-layout-list-item-thumbnail-container-badges-list-item span.four-k {
    color: var(--text-secondary);
    background-color: var(--container-black);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM THUMBNAIL */
.div-shows-view-grid-layout-list-item-thumbnail {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.div-shows-view-grid-layout-list-item-thumbnail img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out;
}

.shows-view-grid-layout-list-item:hover .div-shows-view-grid-layout-list-item-thumbnail img {
    transform: scale(1.1);
}

.div-shows-view-grid-layout-list-item-thumbnail svg {
    position: absolute;
    top: 50%;
    left: 50%;
    stroke: var(--text-muted);
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%);
}

.shows-view-grid-layout-list-item:hover .div-shows-view-grid-layout-list-item-thumbnail svg {
    transform: translate(-50%, -50%) scale(1.1);
}

.div-shows-view-grid-layout-list-item-thumbnail-container > button {
    position: absolute;
    bottom: 1.6rem;
    left: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: var(--brand-blue-core);
    box-shadow: 0 0.4rem 1.2rem var(--brand-blue-core);
    border: unset;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    z-index: 3;
}

.shows-view-grid-layout-list-item:hover .div-shows-view-grid-layout-list-item-thumbnail-container > button {
    transform: scale(1);
}

.div-shows-view-grid-layout-list-item-thumbnail-container > button svg {
    fill: var(--text-primary);
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM INFO CONTAINER */
.div-shows-view-grid-layout-list-item-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.2rem;
    background-color: var(--brand-navy-hover);
}

.div-shows-view-grid-layout-list-item-info-container > h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow-y: hidden;
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM INFO DETAILS LIST */
.shows-view-grid-layout-list-item-info-container-details-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM INFO DETAILS LIST ITEM */
.shows-view-grid-layout-list-item-info-container-details-list-item {
    position: relative;
}

.shows-view-grid-layout-list-item-info-container-details-list-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.8rem;
    width: 0.2rem;
    aspect-ratio: 1 / 1;
    background-color: var(--container-secondary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.shows-view-grid-layout-list-item-info-container-details-list-item span {
    font-size: 1.2rem;
    color: var(--text-secondary);
}

/* SHOWS VIEW GRID LAYOUT LIST ITEM STATUS CONTAINER */
.div-shows-view-grid-layout-list-item-status-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.ended.div-shows-view-grid-layout-list-item-status-container svg {
    fill: var(--text-muted);
    stroke: var(--text-muted);
}

.ongoing.div-shows-view-grid-layout-list-item-status-container svg {
    fill: var(--accent-green-core);
    stroke: var(--accent-green-core);
}

.div-shows-view-grid-layout-list-item-status-container span {
    font-size: 1.2rem;
    font-weight: 700;
}

.ended.div-shows-view-grid-layout-list-item-status-container span {
    color: var(--text-muted);
}

.ongoing.div-shows-view-grid-layout-list-item-status-container span {
    color: var(--accent-green-core);
}

/* SHOWS VIEW LIST LAYOUT LIST */
.shows-view-list-layout-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM */
.shows-view-list-layout-list-item {
    display: flex;
    width: 100%;
    background-color: var(--brand-navy-hover);
    border-radius: 1.2rem;
    animation: appear 0.4s ease-in-out both;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.shows-view-list-layout-list-item:hover {
    box-shadow: inset 0 0 0 0.2rem var(--alpha-blue-dark);
    transform: translateX(0.4rem);
}

@keyframes appear {
    0% {
        transform: translateY(1.6rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM THUMBNAIL */
.div-shows-view-list-layout-list-item-thumbnail-container {
    height: 28rem;
    overflow: hidden;
}

.div-shows-view-list-layout-list-item-thumbnail-container img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out;
}

.shows-view-list-layout-list-item:hover .div-shows-view-list-layout-list-item-thumbnail-container img {
    transform: scale(1.1);
}

.div-shows-view-list-layout-list-item-thumbnail-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    stroke: var(--text-muted);
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%);
}

.shows-view-list-layout-list-item:hover .div-shows-view-list-layout-list-item-thumbnail-container svg {
    transform: translate(-50%, -50%) scale(1.1);
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM CONTENT CONTAINER */
.div-shows-view-list-layout-list-item-content-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem;
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM INFO CONTAINER */
.div-shows-view-list-layout-list-item-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--brand-navy-hover);
}

.div-shows-view-list-layout-list-item-info-container > h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 2.4rem;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow-y: hidden;
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM INFO DETAILS LIST */
.shows-view-list-layout-list-item-info-container-details-list {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM INFO CONTAINER LIST ITEM */
.shows-view-list-layout-list-item-info-container-details-list-item {
    position: relative;
}

.shows-view-list-layout-list-item-info-container-details-list-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1.2rem;
    width: 0.32rem;
    aspect-ratio: 1 / 1;
    background-color: var(--container-secondary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.shows-view-list-layout-list-item-info-container-details-list-item span {
    font-size: 1.6rem;
    color: var(--text-secondary);
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM INFO CONTAINER BADGES LIST */
.div-shows-view-list-layout-list-item-info-container-badges-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0.4rem;
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM INFO CONTAINER BADGES LIST ITEM */
.div-shows-view-list-layout-list-item-info-container-badges-list-item span {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border-radius: 0.2rem;
}

.div-shows-view-list-layout-list-item-info-container-badges-list-item span.original {
    background-color: var(--brand-blue-core);
}

.div-shows-view-list-layout-list-item-info-container-badges-list-item span.new {
    background-color: var(--accent-green-core);
}

.div-shows-view-list-layout-list-item-info-container-badges-list-item span.hd {
    background-color: var(--brand-blue-core);
}

.div-shows-view-list-layout-list-item-info-container-badges-list-item span.hdr {
    background-color: var(--brand-blue-core);
}

.div-shows-view-list-layout-list-item-info-container-badges-list-item span.four-k {
    color: var(--text-secondary);
    background-color: var(--container-black);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-blue-dark);
}

/* SHOWS VIEW LIST LAYOUT LIST ITEM STATUS CONTAINER */
.div-shows-view-list-layout-list-item-status-container {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.ended.div-shows-view-list-layout-list-item-status-container svg {
    fill: var(--text-muted);
    stroke: var(--text-muted);
}

.ongoing.div-shows-view-list-layout-list-item-status-container svg {
    fill: var(--accent-green-core);
    stroke: var(--accent-green-core);
}

.div-shows-view-list-layout-list-item-status-container span {
    font-size: 1.4rem;
    font-weight: 700;
}

.ended.div-shows-view-list-layout-list-item-status-container span {
    color: var(--text-muted);
}

.ongoing.div-shows-view-list-layout-list-item-status-container span {
    color: var(--accent-green-core);
}

.div-shows-view-list-layout-list-item-content-container > button {
    position: absolute;
    bottom: 3.2rem;
    right: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    aspect-ratio: 1 / 1;
    background-color: var(--brand-blue-core);
    border: unset;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.div-shows-view-list-layout-list-item-content-container > button:hover {
    background-color: var(--brand-blue-hover);
    box-shadow: 0 0.4rem 1.2rem var(--brand-blue-core);
}

.div-shows-view-list-layout-list-item-content-container > button svg {
    fill: var(--text-primary);
}
