/* HOME VIEW HERO CONTAINER */
/* .div-home-view-hero-container {
    position: relative;
} */

/* .div-home-view-hero-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48rem;
    aspect-ratio: 1 / 1;
    background-color: var(--brand-blue-core);
    filter: blur(2.4rem);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.12;
    z-index: -1;
} */

.home-view-hero-container-items-list {
    display: flex;
    align-items: center;
}

.home-view-hero-container-items-list-item {
    flex-shrink: 0;
    width: 100%;
    padding: 8rem 0;
    background-size: cover;
}

.hidden.home-view-hero-container-items-list-item {
    display: none;
}

.home-view-hero-container-items-list-item .div-main-edge-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* HEADER HOME VIEW HERO CONTAINER */
.header-home-view-hero-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* HEADER HOME VIEW HERO ICON CONTAINER */
.div-header-home-view-hero-icon-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    padding: 0.8rem 1.2rem;
    background-color: var(--alpha-blue-medium);
    border-radius: 0.6rem;
}

.div-header-home-view-hero-icon-container svg {
    stroke: var(--text-blue-tint);
}

.div-header-home-view-hero-icon-container span {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: var(--text-blue-tint);
}

/* HEADER HOME VIEW HERO INFO CONTAINER */
.div-header-home-view-hero-info-container {
    display: flex;
    flex-direction: column;
}

.div-header-home-view-hero-info-container h2 {
    font-size: 6.4rem;
}

.div-header-home-view-hero-info-container span {
    display: inline-block;
    margin-top: -1.6rem;
    font-size: 5.6rem;
    font-weight: 700;
    color: var(--brand-blue-core);
}

/* HOME VIEW HERO CONTENT CONTAINER */
.div-home-view-hero-content-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

/* HOME VIEW HERO CONTENT INFO CONTAINER */
.div-home-view-hero-content-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* HOME VIEW HERO CONTENT DETAILS LIST */
.home-view-hero-content-details-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

/* HOME VIEW HERO CONTENT DETAILS LIST ITEM */
.home-view-hero-content-details-list-item {
    position: relative;
}

.home-view-hero-content-details-list-item:first-child {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.home-view-hero-content-details-list-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1.6rem;
    width: 0.2rem;
    aspect-ratio: 1 / 1;
    background-color: var(--container-secondary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.home-view-hero-content-details-list-item:first-child svg {
    fill: var(--accent-yellow-core);
    stroke: var(--accent-yellow-core);
}

.home-view-hero-content-details-list-item span {
    font-size: 1.4rem;
    color: var(--text-secondary);
}

.home-view-hero-content-details-list-item:first-child span {
    color: var(--accent-yellow-core);
}

.div-home-view-hero-content-info-container > p {
    width: 56rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-secondary);
}

/* HOME VIEW HERO CONTENT ACTIONS CONTAINER */
.div-home-view-hero-content-actions-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.div-home-view-hero-content-actions-container a:link,
.div-home-view-hero-content-actions-container a:visited {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 2.4rem;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in-out;
}

.div-home-view-hero-content-actions-container a:first-child:link,
.div-home-view-hero-content-actions-container a:first-child:visited {
    background-color: var(--brand-blue-core);
}

.div-home-view-hero-content-actions-container a:first-child:hover,
.div-home-view-hero-content-actions-container a:first-child:active {
    box-shadow: 0 0.4rem 2.4rem var(--alpha-blue-light);
    transform: translateY(-0.4rem);
}

.div-home-view-hero-content-actions-container a:last-child:link,
.div-home-view-hero-content-actions-container a:last-child:visited {
    background-color: var(--alpha-white-dark);
    box-shadow: inset 0 0 0 0.12rem var(--alpha-white-medium);
}

.div-home-view-hero-content-actions-container a:last-child:hover,
.div-home-view-hero-content-actions-container a:last-child:active {
    background-color: var(--alpha-white-medium);
}

.div-home-view-hero-content-actions-container a:first-child:link svg,
.div-home-view-hero-content-actions-container a:first-child:visited svg {
    fill: var(--text-primary);
}

.div-home-view-hero-content-actions-container a:link span,
.div-home-view-hero-content-actions-container a:visited span {
    font-size: 1.4rem;
    font-weight: 500;
}

/* HOME VIEW HERO CONTAINER PAGINATION BTNS LIST */
.home-view-hero-container-pagination-btns-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

/* HOME VIEW HERO CONTAINER PAGINATION BTNS LIST ITEM */
.home-view-hero-container-pagination-btns-list-item {
    display: flex;
    align-items: center;
    padding-top: 3.2rem;
}

.home-view-hero-container-pagination-btns-list-item button {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--brand-blue-hover);
    border: unset;
    border-radius: 12rem;
}

.home-view-hero-container-pagination-btns-list-item:hover button,
.active.home-view-hero-container-pagination-btns-list-item button {
    width: 3.2rem;
    background-color: var(--brand-blue-core);
}
