/* MAIN NAVBAR CONTAINER */
.div-main-navbar-container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    z-index: 9999;
}

.fixed.div-main-navbar-container {
    height: 6.4rem;
    border-bottom: 0.12rem solid var(--border-muted);
    backdrop-filter: blur(2.4rem);
}

/* MAIN NAVBAR SCROLL CONTAINER */
.div-main-navbar-scroll-container {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0.12rem;
    background-color: var(--brand-blue-core);
}

.div-main-navbar-container .div-main-edge-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN NAVBAR CONTAINER LINKS LIST */
.main-navbar-container-links-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

/* MAIN NAVBAR CONTAINER LINKS LIST ITEM */
.main-navbar-container-links-list-item a:link,
.main-navbar-container-links-list-item a:visited {
    font-size: 1.4rem;
    color: var(--text-secondary);
    transition: color 0.2s ease-in-out;
}

.main-navbar-container-links-list-item a:hover,
.main-navbar-container-links-list-item a:active,
.main-navbar-container-links-list-item a.active {
    color: var(--text-primary);
}

/* MAIN NAVBAR CONTAINER ACTIONS LIST */
.main-navbar-container-actions-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* MAIN NAVBAR CONTAINER ACTIONS LIST ITEM */
.main-navbar-container-actions-list-item a:link,
.main-navbar-container-actions-list-item a:visited {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in-out;
}

.main-navbar-container-actions-list-item:first-child a:hover,
.main-navbar-container-actions-list-item:first-child a:active {
    background-color: var(--alpha-white-dark);
}

.main-navbar-container-actions-list-item:last-child a:link,
.main-navbar-container-actions-list-item:last-child a:visited {
    background-color: var(--brand-blue-core);
}

.main-navbar-container-actions-list-item:last-child a:hover,
.main-navbar-container-actions-list-item:last-child a:active {
    background-color: var(--brand-blue-hover);
    transform: translateY(-0.2rem);
}
